<link rel="stylesheet" href="/css/addclient.css">

<section class="h-100 h-custom" style="background-color: #8fc4b7;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card rounded-3">
          <img src="/img/cliente.jpg"
            class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
            alt="Sample photo">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Editar Proveedor</h3>

            <form class="px-md-2" action="/cliente/edit/{{editpro.id}}" method="POST">

              
              <div class="form-outline mb-4">
                <input type="text" id="form3Example1q" class="form-control" required name="nom_proveedor" />
                <label class="form-label" for="form3Example1q">Nombre</label>
              </div>            

              
              <div class="form-outline mb-4">
                <input type="text" id="form3Example1q" class="form-control" placeholder="+56952526867" name="telefono_proveedor"/>
                <label class="form-label" for="form3Example1q">Numero Celular</label>
              </div>

              <div class="form-outline mb-4">
                <input type="email" id="form3Example1q" class="form-control" placeholder="email@gmail.com"   name="email_proveedor"/>
                <label class="form-label" for="form3Example1q">Correo</label>
              </div>

              <div class="form-outline mb-4">
                <input type="text" id="form3Example1q" class="form-control" name="direccion_proveedor"/>
                <label class="form-label" for="form3Example1q">Dirección</label>
              </div>

               <div class="form-outline mb-4">
                <input type="text" id="form3Example1q" class="form-control" name="articulo"/>
                <label class="form-label" for="form3Example1q">Articulo</label>
              </div>

               <div class="form-outline mb-4">
                <input type="text" id="form3Example1q" class="form-control" name="cantidad_articulo"/>
                <label class="form-label" for="form3Example1q">Cantidad</label>
              </div>

               <div class="form-outline mb-4">
                <input type="text" id="form3Example1q" class="form-control" name="contacto_proveedor"/>
                <label class="form-label" for="form3Example1q">Nombre del Contacto</label>
              </div>

               <div class="form-outline mb-4">
                <input type="text" id="form3Example1q" class="form-control" name="valor_compra"/>
                <label class="form-label" for="form3Example1q">Valor Total</label>
              </div>

              <button type="submit" id="btnvalida" class="btn btn-success btn-lg mb-1">Submit</button>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>