{{!cuando algine visiste mi pagina venga para aca!}} 


<main class="page">

  <header class="masthead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-1">WELCOME</h1>
      <h3 class="mb-5"> <em> Recicla con Nosotros</em></h3>
      <a href="/signin" class="btn btn-dark"> Inicia Con Nosotros</a>
    </div>
  </header>

</main>