.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    }

    .container{
            border: black;
            background-image: url(../img/);
            background-size: 100% auto;
            background-position: center top;
            background-repeat: no-repeat;
            box-shadow: 10px 10px 5px lightblue;
           
    }

   
        .img{
            margin:10px auto;
            border-radius:5px;
            border: 1px solid #999;
            padding:13px;
            width:220px;
            height:220px;
            background-size: 100% 100%;
            background-repeat:no-repeat;
     
            background-size: cover;
            }
    